<div class="content">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <% if(error&&error.length>0){ %>
            <div class="error-notice" style="color: red"><%= error %></div>
            <% } %>
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Add Service</h5>
                </div>
                <div class="card-body">
                    <form action="/service/add" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>Service Name</label>
                                    <input type="text" name="name" class="form-control"
                                        placeholder="Enter Service Name ..." required>
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" class="form-control" name="price" placeholder=" Enter Price ..."
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <label>Status</label>
                                    <select name="status" class="isactive form-control">
                                        <option value="">Select Status</option>
                                        <option value="true">Public</option>
                                        <option value="false">Private</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------->
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <label>Thumbnail</label>
                                    <input type="file" name="thumbnail" class="form-control"
                                        style="padding: 0 !important;">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label>Currency</label>
                                    <select name="currency" class="isactive form-control">
                                        <option value="">Select Currency</option>
                                        <option value="USD">USD</option>
                                        <option value="VND">Viet Nam Dong</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>About Service</label>
                                    <textarea rows="4" cols="80" class="form-control" name="description"
                                        placeholder="Here can be service's description" required></textarea>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>