<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon.png">
    <title>
        <%= title %>
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/demo/demo.css" rel="stylesheet" />
    <!-- select2 -->
    <link href="/css/select2.style.css" rel="stylesheet" />
    <!-- global style -->
    <link rel="stylesheet" href="/css/globalstyle.css">
</head>

<body class=""> 
    <div class="wrapper">
        <%- include('sidebar') %>
        <div class="main-panel">