<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                BM
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                John Nguyen
            </a>
        </div>
        <ul class="nav">
            <li class="active ">
                <a href="/dashboard">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/tour">
                    <i class="tim-icons icon-square-pin"></i>
                    <p>Tours</p>
                </a>
            </li>
            <li>
                <a href="/guest">
                    <i class="tim-icons icon-badge"></i>
                    <p>Guests</p>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <i class="tim-icons icon-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a href="/service">
                    <i class="tim-icons icon-puzzle-10"></i>
                    <p>Sevices</p>
                </a>
            </li>
            <li>
                <a href="/booking">
                    <i class="tim-icons icon-components"></i>
                    <p>Booking</p>
                </a>
            </li>
            <li>
                <a href="/booking/calendar">
                    <i class="tim-icons icon-calendar-60"></i>
                    <p>Calender Booking</p>
                </a>
            </li>
        </ul>
    </div>
</div>